<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
               
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            
                            <li><em><strong>@Html.ActionLink("Home", "Index", "Home")</strong></em></li>
                            <li><em><strong>@Html.ActionLink("About", "About", "Home")</strong></em></li>
                             <li><em><strong>@Html.ActionLink("Donation", "Index", "Donation")</strong></em></li>
                            <li><em><strong>@Html.ActionLink("Service", "Index", "Service")</strong></em></li>
                            <li><em><strong>@Html.ActionLink("Employee", "Index", "CAEmployee")</strong></em></li>
                            <li><em><strong>@Html.ActionLink("Contact", "Contact", "Home")</strong></em></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            
            <section class="content-wrapper main-content clear-fix">
               
                 @RenderBody()
            </section>
            <div class="coupon" > 
              <img src="../images/flower1.jpg" /> 
                    
                </div> 
            <div class="coupon2" > 
              <img src="../images/flower.png" /> 
                    
                </div> 
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - ITC172 WIN14 My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
